<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width"></meta>
    <title>Guest List</title>

    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>



</head>

<body>
<form class="form-inline" method="POST" style="margin: 20px 0" th:object="${guest}" th:action="@{/guests}">
    <div class="form-group">
        <input type="text" class="form-control"
               placeholder="Name"
               th:field="*{name}"/>
        <input type="text" class="form-control"
               placeholder="Companions"
                th:field="*{quantityOfCompanions}"/>
        <button type="submit"
                class="btn btn-primary">Add</button>
    </div>
</form>

    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
            <h1 class="panel-title">Guest List</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Companions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="guest : ${guests}">
                        <td th:text="${guest.name}"></td>
                        <td th:text="${guest.quantityOfCompanions}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


